@font-face {
  font-family: 'gt-eesti';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/GT-Eesti-Pro-Display-Regular.woff2') format('woff2'),
    url('fonts/GT-Eesti-Pro-Display-Regular.woff') format('woff');
}

@font-face {
  font-family: 'gt-eesti';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/GT-Eesti-Pro-Display-Medium.woff2') format('woff2'),
    url('fonts/GT-Eesti-Pro-Display-Medium.woff') format('woff');
}

body {
  font-family: 'gt-eesti', sans-serif;
}

#story-root,
.storybook-readme-story {
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
