@font-face {
  font-family: 'gt-eesti';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/GT-Eesti-Pro-Display-Regular.woff2') format('woff2'),
    url('fonts/GT-Eesti-Pro-Display-Regular.woff') format('woff');
}

@font-face {
  font-family: 'gt-eesti';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/GT-Eesti-Pro-Display-Medium.woff2') format('woff2'),
    url('fonts/GT-Eesti-Pro-Display-Medium.woff') format('woff');
}

*,
*::after,
*::before {
  /* Apply a natural box layout model to all elements */
  box-sizing: border-box;
}

body {
  font-family: 'gt-eesti', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* SBDOCS */
/* Storybook style only applied to canvas*/
#root {
  margin: 0 auto;
  padding: 4rem 20px;
  max-width: 1016px; /*content-section*/
}
